<h2>Add basket</h2>

<form action="/basket/add" method="post">

	<div class="m1">
		<label for="basket_name">Basket name</label>
		<input class="m-1 p-1" type="text" name="basket_name" id="">
	</div>

	<div class="m1">
		<input class="m-1 p-1" type="submit">
	</div>

</form>