
<h2>Update basket</h2>

<form action="/basket/update/{{id}}" method="post">

	<div class="m1">
		<label for="basket_name" class="w-7">Basket name</label>
		<input type="text" name="basket_name" class="mt-1 p-1" readonly value="basket name" >
	</div>

	<div class="m1">
		<label for="qty" class="w-7" >Fruit</label>
		<select name="fruit_id" class="mt-1 p-1" id="">
			<option value="">Select fruit type</option>
		</select>
	</div>

	<div class="m1">
		<label for="qty" class="w-7">Quantity</label>
		<input type="number" name="qty" class="w-3 mt-1 p-1">
	</div>

	<div class="m1">
		<input type="submit" class="mt-1 p-1">
	</div>

	<hr>

	<h3>Fruits in basket</h3>

	<table>
		<tr>
			<th>Fruit</th>
			<th>Qty</th>
			<th>Total cost</th>
		</tr>
		{{#each fruits}}
		<tr>
			<d>{{fruit_name}}</d>
			<d>{{qty}}</d>
			<d>{{total_cost}}</d>
		</tr>
		{{/each}}
	</table>


</form>