
<div>
	<a href="/basket/add">Add basket</a>
</div>

<h2>Baskets</h2>

	<table>
		<tr>
			<th>Fruit</th>
			<th>Total cost</th>
		</tr>
		{{#each basket}}
		<tr>
			<td>{{description}}</td>
			<td></td>
			<td><a href="/basket/edit/{{id}}">edit</a></td>
		</tr>

		{{/each}}
	</table>